{% extends 'app/base.html' %}
{% block contenido %}
{% load static %}
{% load crispy_forms_tags %}
<link rel="stylesheet" type="text/css" href="{% static 'css/MenuProductos.css' %}">


<main class=" pt-4">
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-5 h2 text-center">Agregar proveedor </h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-8  center">

          <!--Card-->
          <div class="card">

            <!--Card content-->
            <form class="card-body" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {{form | crispy}}
                

              <hr class="mb-4 center">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Agregar.</button>
              <button class="btn btn-danger btn-lg btn-block" type="reset">Cancelar.</button>
            </form>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->

{% endblock %}