{% extends 'app/base.html' %}
{% load static %}
{% block contenido %}
{% load humanize %}


{% block js %}
<script>
    function eliminar_usuario(id){
        Swal.fire({
            "title":"¿Estás seguro?",
            "text":"Esta acción tendrá consecuencias irreparables.",
            "icon":"question",
            "showCancelButton":true,
            "cancelButtonText":"No, cancelar.",
            "confirmButtonText":"Sí , eliminar",
            "confirmButtonColor": "darkred",

        })
        .then(function(result){
            if(result.isConfirmed){
                window.location.href = "/eliminar-usuario/"+id+"/"
            }

        })
    }
</script>
<script>
  function Confirmar(){
    Swal.fire({
      "title":"¿Estás seguro de cerrar sesión?",
      "text":"Una vez cerrada la sesión podrá volver a iniciar.",
      "icon":"question",
      "showCancelButton":true,
      "cancelButtonText":"No, cancelar.",
      "confirmButtonText":"Sí , cerrar sesión",
      "confirmButtonColor": "red",

    })
    .then(function(result){
      if(result.isConfirmed){
        window.location.href = "{% url 'logout'%}"
      }

    })
  }
</script>
{% endblock %}






<main>
    
    <div class="container">

      

      <!--Section: Products v.3-->
      
      <section class="text-center mb-4">

        <!--Grid row-->
        
        <div class="row wow fadeIn">
         <!--Grid column-->
         
         <div class="table-responsive text-nowrap">
          <div style="float: right;">
            {% if perms.user.add_user %} 
            {% if perms.user.change_user %} 
            <button class="btn btn-outline-primary float-right" type="button" onclick="window.location='{% url 'core:registro' %}'"> <i class="fas fa-at"></i> Añadir nuevo <b>usuario</b> </button>
            {% endif %}
            {% endif %}


            {% if perms.user.add_user %} 
            {% if perms.user.change_user %} 
            
            <button class="btn btn-outline-success float-right" type="button" onclick="window.location='{% url 'core:listado-groups' %}'"><i class="fas fa-cog"></i> Permisos de <b>usuarios</b></button>
            {% endif %}
            {% endif %}


          </div>
            <table class="table" style="z-index: 999;">
                
              <thead>
                
                <tr>
                    
                    <th>Usuario</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Rut</th>
                    <th>Opciones</th>
                </tr>
                
            
            
            
            {% for p in users %}
            
            <tr>
                <td>{{ p.username }}</td>
                <td>{{ p.first_name | title }}</td>
                <td>{{ p.last_name | title }}</td>
                <td>{{ p.email}}</td>
                <td>{{ p.rut}}</td>
              
                
                <td>
                  {% if perms.user.change_user %} 
                  
                    <a href="{% url 'core:modificar-usuarios' p.id %}" class="btn btn-succes btn_lista" style="color:#0073FF; font-size: 23px;"><i class="fas fa-edit"></i></a>

                  {% endif %}

                  {% if perms.user.delete_user %} 
                    <a href="#" onclick="eliminar_usuario({{ p.id }})" class="btn btn-succes btn_lista"style="color:red;font-size: 23px;"><i class="fas fa-trash-alt"></i></a>
                    {% endif %}

                    {% if perms.auth.add_group %}
                    <a href="{% url 'core:userGroup' p.id %}" tooltip="a" class="btn btn-succes btn_lista" style="color:green; font-size: 23px;"><i class="fas fa-clipboard"></i></a>
                    {% endif %}
                  </td>
            </tr>
            {% endfor%}
           

              </tbody>
            </table>
            
          </div>
          </div>
        </div>
      </section>
    </div>
  </main>

{% endblock %}