{% extends 'app/base.html' %}
{% block contenido %}
{% load crispy_forms_tags %}
{% load static %}



<main>
   
    <div class="container">

      
      
      <section class="text-center mb-4">
        <div class="row wow fadeIn">
        
            
            
            <h2 class="center"><u><b>¿Se olvidó de su contraseña?</b></u></h2>
            <br><br><br><br><br>
            <div class="card">
            <div style="padding: 20px;  border-radius: 15px;">
                <img class="img" src="{% static 'img/MAIL.png' %}" alt="Mi logo" width="280">
                <p>
                    Hola estimado usuario , vimos que tienes problemas para iniciar sesión , si necesita establecer una nueva contraseña introduzca su dirección de correo electrónico a continuación para recibir un enlace de restablecimiento de contraseña.
                    <form method="POST">
                        {% csrf_token %}
                        
                        {{form | crispy}}
                        <input  class="btn btn-succes float-left loginbutton" type="submit" value="Enviar">
                    </form>
                
                </p>
            </div>
            
            <br><br><br><br><br>
          </div>
          </div>
        </div>
      </section>
    </div>
  </main>
{% endblock %}
