{% extends 'app/base.html' %}
{% load static %}
{% block contenido %}


    {% load crispy_forms_tags %}
    <br><br><br>
    <div class="container">

        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        
                        {% if validlink %}
                        <h2>Nueva contraseña</h2>
                        <br><br><br>
                        
                        <form method="POST">
                            <i style="font-size: 120px; text-align: center;" class="fas fa-lock-open  center"></i>
                            <br>
                            {% csrf_token %}
                        
                            
                            {{ form.new_password1  | as_crispy_field}}
                            
                            
                            {{ form.new_password2 | as_crispy_field}}

                            <input type="submit" value="Cambiar mi contraseña">


                        </form>

                        {% else%}

                        <h1 class="text-center"> ENLACE INVÁLIDO: ESTE ENLACE YA HA SIDO UTILIZADO , POR FAVOR PIDE UN NUEVO CAMBIO DE CONTRASEÑA</h1>

                        {% endif %}
                        
                    </div>
                    
                </div>
            </div>
        </div>
        <br><br><br><br>
    </div>

{% endblock %}