{% extends 'app/base.html' %}
{% block contenido %}
{% load crispy_forms_tags %}
{% load static %}



<main>
   
    <div class="container">

      
      
      <section class="text-center mb-4">
        <div class="row wow fadeIn">
        
            
            
            <h2 class="center"><u><b>Confirmación de Correo</b></u></h2>
            <br><br><br><br><br>
            <div class="card">
            <div style=" padding: 20px;">
                <img class="img" src="{% static 'img/MAIL.png' %}" alt="Mi logo" width="280">
                <p>
                    Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó. Debería recibirlos en breve.
                
                Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado.
                
                
                </p>
            </div>
          </div>
            <br><br><br><br><br><br><br><br>
          </div>
        </div>
      </section>
    </div>
  </main>
{% endblock %}