{% load cart_template_tags %}
<!DOCTYPE html>
<html lang="es">
<head>
	<title>Ferme - Tu ferretería</title>
	<link rel="shortcut icon" type="image/png" href="img/nfavicon.png">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Realizamos asesorías en Empleabilidad, para que mejores tus posibilidades de encontrar trabajo.">
    <meta name="keywords" content="Asesoria, Empleabilidad, Buscar trabajo, Curriculum Vitae, Asesoria en Entrevista">
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/39b538c475.js" crossorigin="anonymous"></script>
    {% load static %}
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base1.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/letra.css' %}">
	
	
    <link rel="icon" href="{% static 'img/iconos/Icono.png' %}">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	
	{% block js %}
	<script>
		function Confirmar(){
			Swal.fire({
				"title":"¿Estás seguro de cerrar sesión?",
				"text":"Una vez cerrada la sesión podrá volver a iniciar.",
				"icon":"question",
				"showCancelButton":true,
				"cancelButtonText":"No, cancelar.",
				"confirmButtonText":"Sí , cerrar sesión",
				"confirmButtonColor": "red",
	
			})
			.then(function(result){
				if(result.isConfirmed){
					window.location.href = "{% url 'logout'%}"
				}
	
			})
		}
	</script>
	{% endblock %}
	
</head>
<body>
	<section>
		<header id="nav">
			<div class="navbar fixed-top" style="background-color: white;">
				<img class="img" src="{% static 'img/logo4.png' %}" alt="Mi logo" width="280">
				<nav>
					<div class="navbar">
						
						<a class="active" href="{% url 'core:Index' %}"><i class="fa fa-fw fa-home"></i> Inicio</a> 


						
						<a class="active" href="{% url 'core:listado-producto' %}"><i class="fas fa-shopping-bag"></i> Productos</a> 

						{% if perms.core.view_producto %} 									
							<a href="{% url 'core:listar-productos' %}"><i class="fas fa-tools"> </i> <u> Gestionar Productos</u></a>									
						{% endif %}		
						

						<!--LISTADO DE USUARIOS PERMISOS-->
						{% if perms.user.view_user %} 
									
									<a href="{% url 'core:listado-personas' %}"><i class="fas fa-users"> </i> <u> Gestionar Usuarios</u></a>
                        			{% endif %}

									
						{% if perms.auth.add_group %} 
							{% if perms.auth.change_group %} 
								{% if perms.auth.view_group %} 
									{% if perms.auth.delete_group %} 
									<a href="{% url 'core:listado-groups' %}"><i class="fas fa-layer-group"></i> <u> Gestionar Permisos</u></a>
                        			{% endif %}
								{% endif %}
							{% endif %}
						{% endif %}
						<!--LISTADO DE USUARIOS PERMISOS-->
					
							
							<a href="{% url 'core:carrito' %}" class="anavbar"><span style="font-size: 15px; background-color: red; padding-right: 5px;padding-left: 5px; color: white;"> {{request.user | cart_item_count }} </span><i class="fas fa-shopping-cart"></i><b class="textonav" style="font-size: 15px;">Carrito de compras</b></i></a>	
							
						  
						
						
						{% if user.is_authenticated %}
						<a href="#" onclick="Confirmar()" class="anavbar"><i class="fas fa-user-times"></i><b class="textonav">Cerrar sesión</b></i></a>	
						<a href="#" >@{{ user.first_name}}</a>
						{% else %}
						<a href="{% url 'login' %}" class="anavbar"><i class="fas fa-user-tie"></i><b class="textonav">Iniciar sesión</b></i></a>
						{% endif %}
						   
					</div>
				</nav>
			</div>
		</header>
	</section>
	<section>
		<header id="nav">
			<div class="navbar ">
				<img class="img" src="{% static 'img/HEADER.png' %}" alt="Mi logo" width="280">
				<nav>
					<div class="navbar">
						
						
						   
					</div>
				</nav>
			</div>
		</header>
	</section>
	
	<div class="contenido">
		{% if messages %}
			{% for m in messages %}
				<script>
					Swal.fire({
						"title": "{{m}}",
						"position":"top-end",	
						"showConfirmButton": false,
						"timer": 1000,
						"icon": "success",
						
					})
				</script>
			{% endfor %}
		{% endif %}
        {% block contenido %}
        {% endblock %}
    </div>

	<footer>
		<br>
		<h5 style="margin-top : 10px; color :white;"> &copy; Todos los derechos reservados.
		<p style="text-align: center; "><a  style="color: gray;" href="{% url 'core:manual_de_usuario' %}" >Cómo usar la aplicación</a></p>
		</h5>
		
		

		
		
		
	</footer>

</body>
</html>