
<!DOCTYPE html>
<html lang="es">
<head>
	<title>Ferme - Tu ferretería</title>
	<link rel="shortcut icon" type="image/png" href="img/nfavicon.png">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Realizamos asesorías en Empleabilidad, para que mejores tus posibilidades de encontrar trabajo.">
    <meta name="keywords" content="Asesoria, Empleabilidad, Buscar trabajo, Curriculum Vitae, Asesoria en Entrevista">
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/39b538c475.js" crossorigin="anonymous"></script>
    {% load static %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/xlr8.css' %}">
	
    <link rel="icon" href="{% static 'img/iconos/Icono.png' %}">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	
	
	
</head>
<body>
	
	
	<div class="contenido">
		
        {% block contenido %}
        {% endblock %}
    </div>

	<footer style="background-color: black; color:white;  padding-top: 5px;">
        <img class="img" src="https://i.imgur.com/MysP5fv.png" alt="Mi logo" width="40000">
	</footer>

</body>
</html>